*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-includes
wp-admin

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
.idea




/* ignore WP core and misc*/
.htaccess
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/plugins/
wp-content/mu-plugins/
wp-content/wphb-logs/
wp-content/uploads/
wp-content/upgrade/
wp-content/themes/index.php
wp-content/themes/twentysixteen/
wp-content/themes/twentyseventeen/
wp-content/themes/twentyfifteen/
wp-content/themes/twentynineteen/
wp-content/ai1wm-backups/
wp-content/mu-plugins/
mysql-data/
db_data/
sitemap.xml
*.log
/wp-*.php
/index.php
license.txt
readme.html
wp-admin/
wp-includes/
xmlrpc.php
wp-content/cache/
wp-content/backups/
wp-content/mu-plugins/pagely*
wp-config-hosting.php
db-config.php
sitemap.xml.gz
.DS_Store

/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
wp-content/languages/
wp-content/log/
wp-content/wflogs/
wp-content/updraft/
wp-content/wfcache-bak/
.idea/
